[build]
builder = "NIXPACKS"

[deploy]
startCommand = "php artisan config:clear && php artisan route:clear && php artisan view:clear && php artisan optimize && php artisan migrate --force && php artisan storage:link && php -S 0.0.0.0:$PORT -t public"
